# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
###### • Some of the popular languages that Data Scientists use are.
###### • Some of the commonly used libraries used by Data Scientists include.
###### • Data Science Tools

# Some of the popular languages that Data Scientists use are:
## 1. Python
## 2. R Language
## 3. Apache Spark

# Some of the commonly used libraries used by Data Scientists include:
## 1. Numpy 
## 2. Pandas
## 3. SeaTorch

## Data Science Tools
##### Rstudio
##### TensorFlow
##### Apache Hadoop

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

# Author
Henil Suhagiya